@import "../../../theme/skyBlue";

.ant-layout {
  .ant-layout-header {
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.8);
  }

  .ant-menu-dark .ant-menu-inline.ant-menu-sub {
    box-shadow: 0 2px 8px rgba(88, 88, 255, 0.45) inset;
  }

  .ant-layout-content {
    display: flex;

    & > .ant-tabs {
      display: flex;
      flex: auto;
      flex-direction: column;
      background: #f4f4f4;
      color: black;

      & > .ant-tabs-bar {
        padding-top: 0;
        height: 30px;
        background: white;
        margin-bottom: 0;
        box-shadow: 0 1px 3px #ccc;
        z-index: 999;
      }

      & > .ant-tabs-content {
        display: flex;
        flex: auto;
      }

      .ant-tabs-tabpane {
        padding: 5px;

        .content-wrapper {
          background: #fff;
          position: absolute;
          top: 40px;
          bottom: 10px;
          left: 10px;
          right: 10px;
          overflow: auto;
          box-shadow: 0 0 15px rgba(0,0,0,0.3);

          display: flex;
          align-items: flex-start;
          flex-direction: column;

          & > .toolbar-wrapper {
            width: 100%;
          }

          .content-wrapper-0 {
            padding: 0 30px;
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: column;

            & > .muyu-table-toolbar:first-child {
              margin-top: 30px;
            }
          }
        }
      }

      &.ant-tabs-card > .ant-tabs-bar .ant-tabs-tab {
        border-radius: 0;
        border: 0;
        background: white;
      }

      .ant-tabs-tab:first-child {
        margin-left: 10px;
      }

      .ant-tabs-nav .ant-tabs-tab {
        height: 29px;
      }

      &.ant-tabs-card > .ant-tabs-bar .ant-tabs-tab-active {
        border-bottom: solid 1px #2095f2;
      }
    }
  }
}
