
.muyu-search-form-wrapper {
  width: 100%;
  padding: 10px 10px 10px 0;

  display: flex;
  align-items: center;
  justify-content: flex-start;

  form {
    .ant-row {
      flex: 1;
    }
  }

  .ant-form-item {
    &:last-child{
      margin-right: 30px;
    }

    margin-bottom: auto;

    label {
      font-size: 12px;
      margin-right: 10px;
    }
  }

  .muyu-search-form-group {
    float: right;
    button:first-child {
      margin-right: 10px;
      margin-left: 20px;
    }
  }
}

