
.ant-modal-mask {
  background: rgba(200, 200, 200, 0.2);
}


.loadingWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  position: fixed;
  z-index: 10000;
  left: 0;
  top: 0;
  height: 100%;
}

#cloudos-loading-spinner {
  position: absolute;
  width: 32px;
  height: 32px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.spinner {
  transition: opacity ease-out 450ms;
  animation: 0.6s steps(12) 0s infinite cloudos-loading-spinner;
}

@keyframes cloudos-loading-spinner {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

