@import "../../../../theme/skyBlue";


.navigation {
  height: @layout-header-height;
  display: flex;
  justify-content: flex-start;
  align-items: center;


  & > span {
    font-size: 20px;
    color: white;
    font-weight: bold;
    margin-right: 40px;
    margin-bottom: 0;
  }

  .locale-wrapper {
    position: absolute;
    right: 10px;
  }

  .ant-menu {
    border: 0;
  }

  .ant-menu-item {
    height: @layout-header-height;
    color: #f0f0f0;
    background: @primary-color;
    box-sizing: border-box;
    border: 0;
    margin: 0;
    top: 0;
    bottom: 0;
    border-bottom: solid 2px @primary-color;

    &:hover {
      background: @primary-color;
      border-bottom: solid 2px #fff;
      color: #fff;
      margin: 0;
      top: 0;
      bottom: 0;
    }
  }
}
