
.login-bg {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  background: url("./bg.jpg") 0 / cover fixed;

  .locale-wrapper {
    position: fixed;
    z-index: 999;
    margin-top: 10px;
    margin-left: -10px;
    align-self: flex-end;
  }
}

.login-bg::before {
  content: "";
  width: 100%;
  height: 100%;
  position: fixed;
  filter: blur(10px);
  background: url("./bg.jpg") 0 / cover fixed;
  z-index: 2;
}

.loginWrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 360px;
  height: 320px;
  margin: auto;
  padding: 20px 40px;
  border-radius: 5px;
  background: rgba(255, 255, 255, 0.4);
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  z-index: 444;


  h2 {
    text-align: center;
    margin-bottom: 50px;
    color: #282828;
    font-weight: bold;
  }

  .ant-form-item-control-input-content, .ant-input-affix-wrapper {
    height: 40px;
    max-height: 40px;
  }

  & > * {
    width: 100%;
  }
}




