
.ant-radio-group {
  margin-right: 5px;
}


.muyu-table-toolbar {
  height: 40px;
  border: solid 1px #e8e8e8;
  border-bottom: 0;
  background: #f8f8f8;
  padding-left: 10px;
}

.muyu-radio-btn-red {
  background: #f04134;
  border-color: #f04134;
  color: white;

  &:hover, &:focus {
    color: #f0f0f0;
  }
}
