@heading-color: fade(#000, 90%);


// Border color
@border-color-split: hsv(0, 0, 90%); // split border inside a component

//Color
@text-color: fade(#000, 80%);


@primary-color: #1890ff;
@primary-color-1: #12a2fd;

//Layout
@layout-body-background: white;

@layout-header-background: @primary-color;
@layout-header-height: 46px;
@layout-header-color: white;
@layout-trigger-background: lighten(@layout-header-background, 5%);


//Menu
@menu-dark-bg: lighten(@layout-header-background, 5%);
@menu-dark-submenu-bg: lighten(@layout-header-background, 10%);
@menu-dark-color: #f0f0f0;


//Tabs


//Table

@table-header-bg: #f8f8f8;
@table-row-hover-bg: #e6f7ff;
@table-selected-row-bg: #e6f7ff;
@table-body-selected-sort-bg: @table-selected-row-bg;
@table-selected-row-hover-bg: @table-selected-row-bg;

@table-padding-vertical: 9px;
@table-padding-horizontal: 5px;


//Button
@btn-primary-bg: @primary-color;
@btn-danger-bg: #f04134;
