@import "../../theme/default.less";

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.2);
}

::-webkit-scrollbar-track:hover {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.4);
  background-color: rgba(0, 0, 0, 0.01);
}

::-webkit-scrollbar-track:active {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.4);
  background-color: rgba(0, 0, 0, 0.05);
}

::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.05);
  -webkit-box-shadow: inset 1px 1px 0 rgba(0, 0, 0, .1);
}

::-webkit-scrollbar-thumb:hover {
  background-color: rgba(0, 0, 0, 0.4);
  -webkit-box-shadow: inset 1px 1px 0 rgba(0, 0, 0, .1);
}

::-webkit-scrollbar-thumb:active {
  background-color: rgba(0, 0, 0, 0.4);
}

.table-wrapper {
  margin: 30px auto;
}

.ant-table.ant-table-bordered .ant-table-container .ant-table-body{
  border-bottom: 1px solid rgb(230, 230, 230);
}


.ant-table-wrapper,.ant-spin-nested-loading,.ant-spin-container,.ant-table,.ant-table-container,.ant-table-content{
  display: flex;
  flex: 1;
  flex-direction: column;
  overflow: hidden;
  border-radius: 0;
}

.ant-pagination{
  align-self: flex-end;
}

.ant-table-container{
  overflow: auto;

  &>.ant-table-content>table{
    height: 100%;
  }
}

.ant-table-tbody {
  .wrapped-table-row-highlight td {
    background: @table-row-hover-bg;
  }

  .wrapped-table-row-editing {
    .ant-table-row-expand-icon {
      margin-top: 10px;
    }
  }

  td {
    vertical-align: center;
  }

  .ant-form-item {
    margin-bottom: 0;
  }
}
